@font-face {
    font-family: 'AppBlack';
    src: url(assets/fonts/Poppins-Black.ttf);
}

@font-face {
    font-family: 'AppBold';
    src: url(assets/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: 'AppExtraBold';
    src: url(assets/fonts/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: 'AppExtraLight';
    src: url(assets/fonts/Poppins-ExtraLight.ttf);
}

@font-face {
    font-family: 'AppLight';
    src: url(assets/fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: 'AppMedium';
    src: url(assets/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'AppRegular';
    src: url(assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'AppSemiBold';
    src: url(assets/fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: 'AppThin';
    src: url(assets/fonts/Poppins-Thin.ttf);
}

*{
    font-family: 'AppRegular';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}